<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <%= image_tag @pet.photo_url , width: '100%' %>
     <div class="card-body">
      <%= @pet.name %>
      <p>Pet description</p>
      <p>price: <%= humanized_money_with_symbol(@pet.price) %></p>
      <%= form_tag orders_path do %>
        <%= hidden_field_tag 'pet_id', @pet.id %>
        <%= submit_tag 'Buy Now', class: "btn btn-primary" %>
      <% end %>
     </div>
    </div>
  </div>
</div>
</div>
